@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500&display=swap');






/* CSS RESETS */
:root {
    --clr-neutral-100: 0 0% 100%;
    --clr-neutral-200: 210 46% 95%;
    --clr-neutral-300: 0 0% 81%;
    --accent-color: #0367f2;
  
    --ff-primary: "Barlow Semi Condensed", sans-serif;
  
    --fw-400: 500;
    --fw-700: 600;
  
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;


    /* This is for the fonts */

    --primary-font: 'Almarena', sans-serif;
    --secondary-font:'Montserrat', sans-serif;


    --accent-color: rgb(3, 103, 242);
    --accent-orange: #e8aa52;

  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--secondary-font)
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* END OF CSS RESETS */


/* This is the nav section */


.header{
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding-top: 2rem;
    /* opacity: 0; */
    /* position: fixed;
    transform: translateX(30px);
    background-color: #f6f3f3;
    z-index: 999; */
}


main{
    padding-inline: rem;
    background: rgb(255, 255, 255);
    overflow: hidden;
}

.logo{
    width: 4rem;
}

.btn-nave{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color: none;
}

.btn-nav{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: none;

}

.bars{
    color: black;
    font-size: 1.6rem;
}

.collapse{
    display: none;
}


.active-btn{
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 5px;

}

.in{
    background: none;
    background-color: none;
    border: none;
    padding: 1rem;

}

.stylized{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.stylized:hover{
    background-color: var(--accent-orange);
    color: black;
}




/* This is the end of the  nav section */

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    padding-bottom: 2rem;
    padding-inline: 2rem;
}


.tagline{
    color: var(--accent-orange);
    font-size: .8rem;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    border-radius: 10px;
    
}

.left h1{
    font-family: var(--primary-font);
    font-size: 4rem;
    line-height: 4.5rem;
    width: 70%;
    font-weight: 900;
}

.left h1 span{
    color: var(--accent-color);
}

.btn-line{
    font-size: 1.125rem;
    font-weight: 400;
    width: 79%;
}

.ate{
    text-decoration: none;
    color: white;
}

.ite{
    text-decoration: none;
    color: var(--clr-neutral-300);
}

.hero-btn{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.left{
    display: flex;
    align-items: first baseline;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    padding-top: 5rem;
}







.carousel{
    width: 680px;
}

.resize{
    object-fit: contain;
    max-width: 400px;
}

.big{
    /* max-width: 600px; */
   
}



.place{
    width: 500px;
}



/* THIS IS THE SCHOOL SECTION */

.school{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding-block: .5rem;
    padding-inline: 2rem;

}

.school h2{
    font-size: 2.3rem;
    font-family: var(--primary-font);
}

.school p{
    width: 50%;
    text-align: center;
    font-size: 1.1rem;
}

/* THIS IS THE FLIP CARD SECTION */


 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
 .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .flip-card-back{
    width:200px;
    height: 200px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    background: rgb(240,240,245);
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
    border-radius: 10px;

  }

  .flip-card-front h2{
    text-align: center;
    margin: auto;
    padding-top: 80px;
    color: white;
    font-size: 1.6rem;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: var(--accent-color);
    border-radius: 10px;
    height: 100%;
    color: white;
    transform: rotateY(180deg);
  } 

  .flip-card-back{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
  }

  /* END OF CAROUSEL DO NOT TOUCH  */

  .carousel-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.data{
   
    background-size:cover;
    background-image: url(/assets/flipcards/chart.png);
    border-radius: 10px;
    background-repeat: no-repeat;


}



.engineering{
    background-size:cover;
    background-image: url(/assets/flipcards/code.png);
    border-radius: 10px;
    background-repeat: no-repeat;


}

.product{
    background-size:cover;
    background-image: url(/assets/flipcards/product.png);
    border-radius: 10px;
    background-repeat: no-repeat;


}

.business{
    background-size:cover;
    background-image: url(/assets/flipcards/businesspeople.png);
    border-radius: 10px;
    background-repeat: no-repeat;


}
.creative-economy{
    background-size:cover;
    background-image: url(/assets/flipcards/creator.png);
    border-radius: 10px;
    background-repeat: no-repeat;


}

/* THIS IS THE BEGINNING OF THE CARD GROUP */

.courses h2{
    font-family: var(--primary-font);
    font-size: 2.3rem;
}

.card{
    max-width: 420px;
    height: 550px;
    /* background-color: blue; */
    box-shadow: rgba(11, 173, 198, 0.3) 0px 19px 38px, rgba(25, 171, 255, 0.22) 0px 15px 12px;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.inner-card{
    /* background-color: rgb(224, 0, 0); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: first baseline;
    justify-content: center;
    /* border: 3rem; */
    max-width: 270px;
    flex: 1;
    height: 100%;
}

.card-image{
    /* place-content: center; */
    border-radius: 10px;
    width: 100%;
    height: 240px;
}

.music-industry{
    background-image: url(/assets/3d/artist.jpg);
    background-size:cover;
    background-repeat: no-repeat;    

}


.content-maker{
    background-image: url(/assets/3d/contentmaker.jpg);
    background-size:cover;
    background-repeat: no-repeat;    


}


.business-client{
    background-image: url(/assets/3d/businessguy.jpg);
    background-size:cover;
    background-repeat: no-repeat;    


}



.c-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.courses{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin-block: 2rem;
}



/* THIS IS THE END OF THE CARD GROUP */



/* THIS IS THE START OF THE LEARNERS SECTION */

.learners{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.learners h2{
    font-family: var(--primary-font);
    font-size: 2.3rem;
    text-align: center;
}






















/* THIS IS THE END OF THE LEARNERS SECTION */

.log{
    overflow: hidden;
    /* backgrxound-color: red; */
    margin-inline: 20rem;
    white-space: nowrap;

}

.big{
    font-size: 65px;
    padding: 2rem;
    
}


.logo-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
}

@keyframes slide {
    from {
        transform: translateX(0)

    }
    to {
        transform: translateX(-100%);

    }
    
}

@keyframes counter{
    from {
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.logo-slid{
    display: inline-block;
    animation: 25s counter infinite linear;
    animation-direction: reverse;
    

}

.loge{
   
        overflow: hidden;
        /* backgrxound-color: red; */
        margin-inline: 20rem;
        white-space: nowrap;
    
}

.log:hover .logo-slide{
    animation-play-state: paused;
}

.loge:hover .logo-slid{
    animation-play-state: paused;


}







.txt{
    display: flex;
    align-items: first baseline;
    flex-direction: column;
}






.circle{
    font-size: 50px;
    color: white ;
   
}


.detail{
    display: flex;
    gap: 2rem;
    padding: 3rem;
}

.cat{
    display: flex;
    align-items: center;
    padding-block: .4rem;
    padding-inline: .6rem;
    gap: 1rem;
    width: 93%;
    border-radius: 5px;
    transition: all ease-in-out .4s;
}


.lefty{
   max-width: 45%;
   display: flex;
   flex-direction: column;
   align-items: first baseline;
   justify-content: center;
}

.styled-p{
    font-size: .9rem;
    padding: .4rem;
    color:#dea351;
    background-color: #fae7cd;
    width: fit-content;
    border-radius: 50px;
}

.lefty h2{
    font-family: var(--primary-font);
    font-size: 2.6rem;
    max-width: 500px;
}

.reason-why{
    max-width: 700px;
    padding-bottom: 2rem;

}

.righty{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    /* max-width: 50%; */
    padding-block: 2rem;
    padding-inline: 2.5rem;
    border-radius: 4px;
}

.bullet{
    font-size: 1rem;
    font-weight: 3oo;
}

.cat:hover{
    transform: scale(1.17);
    color: black;
    background-color: white;
}

.cat:hover .circle{
    color: var(--accent-orange);
}



.testimonials{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding-block: 4rem;
    padding-inline: 2rem;
}

.learners-say{
    font-family: var(--primary-font);
    font-size: 2.5rem;
    text-align: center;
}

.subline{
    font-size: 1.3rem;
    color: grey;
    text-align: center;
    font-weight: 400;
}




.tmonial-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.tmonial-card:nth-child(odd){
    flex-direction: row-reverse;
    text-align: left;
}

.deets{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}



.profile-pic img {
    width: 150px;
    border-radius: 50%;
}


.d-course{
    font-family: var(--primary-font);
    color: var(--accent-color);
    font-size: 1.5rem;
}

.d-name{
    color: #001e48;
    font-weight:500;
}

.d-detail{
    line-height: 1.7rem;
    color: rgb(116, 116, 116);
}


.counter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.counter-flex{
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    gap: 1.2rem;
    background-color: rgb(0, 0, 0);
    padding: 1.4rem;
    border-radius: 25px;
    max-width: 300px;
    box-shadow: rgba(41, 41, 202, 0.25) 0px 0.0625em 0.0625em, rgba(18, 95, 167, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.numplus{
    display: flex;
    align-items: center;
    color: var(--accent-orange);
    font-weight: 300;

}

.numplus p{
    font-size: 1.8rem;
    color: var(--accent-orange);

}

.ficon{
    font-size: 3rem;
    color: var(--accent-orange);

}

.count-me{
    padding-block: 4rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.count-main{
    font-size: 4rem;
    font-weight: 600;
    color: #ffffff;
}

.counter-flex h3{
    font-family: var(--primary-font);
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--accent-orange);

}























/* THIS IS THE FOOTER SECTION */

.footer-flex{
    display: flex;
    align-items: first baseline;
    justify-content: space-evenly;
    gap: 6rem;
    flex-wrap: wrap;
    padding-inline: 5rem;
    padding-block: 3rem;
}


footer{
    background-color: black;
    color: white;
}

.logo-class{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 2rem;
}

.footer-children{
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: flex-start;
    flex-direction: column;
    /* width: 200px; */
}

.footer-children div button a{
    text-decoration: none;
    color: grey;
}

.footer-children div{
    display: flex;
    align-items:first baseline;
    flex-direction: column;
    gap: .6rem;
    flex-wrap: wrap;
}



.footer-children div button {
   background-color: none;
   border: none;
   background: none;
}



.footer-logo img{
    width: 90px;
}


.icon-tfooter{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}


.partner{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.partner .fa-github{
    font-size: 2rem;

}

.bppe {
    display: flex;
    align-items: center;
    max-width: 300px;
}

.bppe img{
    width: 80px;
}


iframe{
    width: 500px;
    height: 240px;
}

hr{
    margin-inline: 5.2rem;
}


.copyright{
    display: flex;
    align-items: first baseline;
    gap: 2rem;
    flex-direction: column;
    font-size: .8rem;
    margin-top: 3rem;
    margin-inline: 5.2rem;
    font-weight: 400;
    padding-bottom: 4rem;
}



@media (max-width:1086px) {
    .footer-flex{
        justify-content:flex-start;
    }
    
}













@media (max-width: 1580px) {
    .left h1{
        width: 90%;
    }
    
}



@media(max-width: 1000px){
    .hero{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .left{
        width: 100%;
        align-items: first baseline;
        justify-content: center;
    }

    .hero-btn{
        display: flex;
        flex-wrap: wrap;
    }
    .btn-nave{
        display: none;
    }
    .collapse{
        display: block;
    }

    .header{
        justify-content: space-around;
        gap: 20rem
    }


}



@media (max-width: 1242px) {
    .carousel-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .c-card{
        display: flex;
        flex-wrap: wrap;
    }

    
}


@media (max-width: 1172px){
    .log{
        margin-inline: 5rem;

    }
    .loge{
        margin-inline: 5rem;
    }
    .big{
        font-size: 30px;
    }

    .tmonial-card{
        flex-wrap: wrap;
    }
}


@media(max-width:1200px){
    .detail{
        display: flex;
        flex-wrap:wrap;
    }
    .lefty{
        max-width: 100%;
        align-items:center;
        justify-content: center;
    }

    .reason-why{
        width: 100%;
    }

}

@media(max-width: 1198px){
    .detail{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



@media(max-width: 1402px){
    .btn-nav{
        display: none;
    }
}


@media (max-width: 566px) {
    .detail{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
   
    iframe{
        width: 350px;
        height: 250px;
    }
}



@media (max-width: 586px){
    .carousel{
        width: 420px;
    }

    .card-image{
        /* place-content: center; */
        border-radius: 10px;
        width: 250px;
        height: 150px;
    }
    .inner-card{
        display: flex;
        align-items: center;
    }
    .righty{
        margin-top: 2rem;
    }
    
}


@media  (max-width: 722px) {
    body{
        font-size: 15px;
    }

    .left h1{
        font-size: 2.5rem;
        width: 100%;
        line-height: 2.7rem;
    }
    .btn-line{
        font-size: 1rem;
        width: 100%;
    }
    .school p{
        font-size: 1rem;
        width: 100%;
    }
    
}


@media (max-width: 544px){
    .header{
        gap: 10rem;
    }
}


@media (max-width: 367px){ 
    
    .card-image{
        /* place-content: center; */
        border-radius: 10px;
        width: 200px;
        height: 150px;
    }
    iframe{
        width: 250px;
        height: 200px;
    }
}




@media (max-width: 504px) {
    .cat{
        display: flex;
        flex-wrap: wrap;
        font-size: .8rem;
        width: 100%;
        padding-inline: 1rem;
        padding-block: 1rem;

    }
    .cat:hover{
        color: black;
        background-color: white;
        transform:scale(1.0)
    }

    .cat:hover .circle{
        color: var(--accent-orange);
    }   





    .righty{
        color: white;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        /* max-width: 50%; */
        padding-block: 0rem;
        padding-inline: 0rem;
        border-radius: 4px;
        width: 100%;
    }

    .detail{
        display: flex;
        gap: 0rem;
        padding: 0rem;
        width: 100%;
    }

    .lefty{
        padding: 2rem;
    }
    
}

@media (max-width:510px) {
    .flip-card{
        width: 300px;
        height: 200px;

    } 
}

/* @media (max-width: 342px) {
    .footer-children div{
        align-items: flex-end;
        justify-content: center;
    }
    
} */